Repository bigcommerce/dev-docs, pull requests merged in 2019-07, with the labels that each got.

#19 remove non-working anchors and add div IDs to fix the scroll issue
  markdown/stencil-docs/installing-stencil-cli/installing-stencil.md
Labels: broken-links

#18 document request.locale
  markdown/stencil-docs/reference-docs/global-objects-and-properties.md
Labels: documentation-review, updates

#15 Add Gutenberg Support Article
  markdown/bigcommerce-for-wordpress/getting-started/gutenberg-support.md
Labels: documentation-review

#14 change forms.account to forms.edit_account
  markdown/stencil-docs/reference-docs/other-objects-and-properties-overview.md
Labels: object updates, updates

#16 add custom dimensions and metrics section
  markdown/stencil-docs/developing-further/google-analytics-enhanced-ecommerce.md
Labels: updates

#17 Add order confirmation section and checkout object
  markdown/stencil-docs/reference-docs/other-objects-and-properties-overview.md
Labels: object updates, updates

#20 Add GET order/shipment/{id}
  spec/json/BigCommerce_Orders_API.oas2.json
  spec/yaml/BigCommerce_Orders_API.oas2.yml
Labels: api reference, object updates

#13 add examples to helpers and add hrs
  markdown/stencil-docs/reference-docs/handlebars-helpers-reference.md
Labels: object updates, updates

#21 DevDocs- 592 update stencil utils reference
  markdown/stencil-docs/reference-docs/stencil-utils-api-reference.md
Labels: Maintenance, Stencil Object, updates

#23 updated original article Theme updates and version control
  markdown/stencil-docs/developing-further/theme-updates-and-version-control.md
Labels: Maintenance, updates

#22 updated custom fonts
  assets/img/content_folder_webdav.png
  markdown/stencil-docs/storefront-customization/using-custom-fonts-and-icons.md
Labels: Maintenance, clarifications, updates

#36 Fix ngrok web interface URL
  markdown/api-docs/getting-started/webhooks/setting-up-webhooks.md
Labels: API, incorrect-information

#34 DEVDOCS-590
  markdown/api-docs/cart-and-checkout/cart-and-checkout-overview.md
Labels: API, Maintenance, updates

#40 Devdocs 1062 fix broken otp links on reference docs
  markdown/stencil-docs/reference-docs/common-objects.md
  markdown/stencil-docs/reference-docs/global-objects-and-properties.md
  markdown/stencil-docs/reference-docs/other-objects-and-properties-overview.md
Labels: Theme/Stencil, broken-links

#30 DEVDOCS-1059 Refunds API
  beta-documentation/refunds-api-PROJECT-2776/refunds.json
  beta-documentation/refunds-api-PROJECT-2776/refunds_documentation.md
Labels: Beta

#42 DEVDOCS-1043
  markdown/api-docs/catalog/products-overview.md
  markdown/legacy/v2-products/v2-v3.md
Labels: API, clarifications

#31 DEVDOCS-1037 Fixed variant_id filter
  spec/json/BigCommerce_Price_Lists_API.oas2.json
Labels: API, api reference, incorrect-information

#44 delete everything :)
  markdown/api-docs/cart-and-checkout.md
  markdown/api-docs/catalog.md
  markdown/api-docs/customers.md
  markdown/api-docs/getting-started.md
  markdown/api-docs/orders.md
  markdown/api-docs/partner.md
  markdown/api-docs/payments.md
  markdown/api-docs/store-management.md
  markdown/api-docs/storefront.md
  markdown/bigcommerce-for-wordpress/changelog.md
  markdown/bigcommerce-for-wordpress/extending-the-plugin.md
  markdown/bigcommerce-for-wordpress/getting-started.md
  markdown/bigcommerce-for-wordpress/setup.md
  markdown/legacy/blueprint-reference.md
  markdown/legacy/blueprint-themes.md
  markdown/legacy/v2-catalog-products.md
  markdown/legacy/v2-products.md
  spec/yaml/BigCommerce_Catalog_API.oas2.yml
  spec/yaml/BigCommerce_Currency_API.oas2.yml
  spec/yaml/BigCommerce_Customers_API.oas2.yml
  spec/yaml/BigCommerce_Customers_V3_API.oas2.yml
  spec/yaml/BigCommerce_Enabled_Payment_Methods_API.oas2.yml
  spec/yaml/BigCommerce_Geography_API.oas2.yml
  spec/yaml/BigCommerce_Marketing_API.oas2.yml
  spec/yaml/BigCommerce_Order_Transactions_API.oas2.yml
  spec/yaml/BigCommerce_Orders_API.oas2.yml
  spec/yaml/BigCommerce_Payments_API.oas2.yml
  spec/yaml/BigCommerce_Price_Lists_API.oas2.yml
  spec/yaml/BigCommerce_Process_Payment_API.oas2.yml
  spec/yaml/BigCommerce_Scripts_API.oas2.yml
  spec/yaml/BigCommerce_Server_to_Server_Cart_API.oas2.yml
  spec/yaml/BigCommerce_Server_to_Server_Checkout_API.oas2.yml
  spec/yaml/BigCommerce_Shipping_API.oas2.yml
  spec/yaml/BigCommerce_Shipping_Provider_API.oas2.yml
  spec/yaml/BigCommerce_Store_Content_API.oas2.yml
  spec/yaml/BigCommerce_Store_Information_API.oas2.yml
  spec/yaml/BigCommerce_Storefront_Cart_API.oas2.yml
  spec/yaml/BigCommerce_Storefront_Checkout_API.oas2.yml
  spec/yaml/BigCommerce_Storefront_Orders_API.oas2.yml
  spec/yaml/BigCommerce_Subscribers_API.oas2.yml
  spec/yaml/BigCommerce_Tax_Class_API.oas2.yml
  spec/yaml/BigCommerce_Themes_API.oas2.yml
  spec/yaml/BigCommerce_Webhooks.oas2.yml
  spec/yaml/BigCommerce_Widgets_API.oas2.yml
  spec/yaml/BigCommerce_Wishlist_API.oas2.yml
  spec/yaml/cornerstone_config.oas2.yml
Labels: Maintenance

#45 Fix handlebars helpers anchors
  markdown/stencil-docs/reference-docs/handlebars-helpers-reference.md
Labels: Theme/Stencil, broken-links

#41 DEVDOCS-1007 Fix Catalog Batch
  spec/json/BigCommerce_Catalog_API.oas2.json
Labels: API, Maintenance, api reference, incorrect-information

#32 DEVDOCS-1057
  spec/json/BigCommerce_Catalog_API.oas2.json
Labels: API, Maintenance, api reference, incorrect-information, updates

#29 DEVDOCS-1027
  CONTRIBUTING.md
  README.md
  markdown/_components.md
  markdown/_page_template.md
  markdown/_styleguide.md
Labels: Maintenance, new-article

#38 Add Params, Tables, Multi Product Section
  markdown/api-docs/cart-and-checkout/add-to-cart-url.md
Labels: API, Value Add, clarifications, updates

#47 Added correct link to installing-stencil
  markdown/stencil-docs/installing-stencil-cli/installing-stencil.md
Labels: Maintenance, Theme/Stencil, broken-links

#56 Devodcs 948 add images category object
  beta-documentation/refunds-api-PROJECT-2776/refunds.json
  beta-documentation/returns-api-PROJECT-2776/returns.json
  beta-documentation/returns-api-PROJECT-2776/returns_documentation.md
  markdown/stencil-docs/reference-docs/global-objects-and-properties.md
Labels: Maintenance, Stencil Object, Theme/Stencil

#52 DEVDOCS-389 Add Stencil Utils Config Objects
  markdown/stencil-docs/reference-docs/stencil-utils-api-reference.md
  spec/json/BigCommerce_Orders_API.oas2.json
Labels: Stencil Object, Theme/Stencil, Value Add

#46 DevDocs 950 & 570
  markdown/stencil-docs/reference-docs/handlebars-helpers-reference.md
  markdown/stencil-docs/reference-docs/stencil-utils-api-reference.md
Labels: Maintenance, Stencil Object, Theme/Stencil, updates

#58 DEVDOCS-1064 Apply Style Guide to Stencil ReOrg
  assets/img/customizing_invoice_print_order_invoice.png
  markdown/stencil-docs/configure-store-design-ui/defining-global-styles.md
  markdown/stencil-docs/configure-store-design-ui/defining-ui-options.md
  markdown/stencil-docs/configure-store-design-ui/store-design-overview.md
  markdown/stencil-docs/customizing-checkout/checkout-confirmation-injection.md
  markdown/stencil-docs/customizing-checkout/checkout-sdk-example.md
  markdown/stencil-docs/customizing-checkout/optimized-one-page-checkout.md
  markdown/stencil-docs/customizing-checkout/paypal-smart-buttons.md
  markdown/stencil-docs/deploying-a-theme/bundling-and-pushing.md
  markdown/stencil-docs/deploying-a-theme/checking-a-themes-size.md
  markdown/stencil-docs/deploying-a-theme/naming-your-theme.md
  markdown/stencil-docs/deploying-a-theme/preparing-thumbnail-images.md
  markdown/stencil-docs/developing-further/catalog-price-object.md
  markdown/stencil-docs/developing-further/customizing-invoices.md
  markdown/stencil-docs/developing-further/google-amp.md
  markdown/stencil-docs/developing-further/google-analytics-enhanced-ecommerce.md
  markdown/stencil-docs/developing-further/stored-credit-card-management.md
  markdown/stencil-docs/developing-further/theme-updates-and-version-control.md
  markdown/stencil-docs/installing-stencil-cli/troubleshooting-your-setup.md
  markdown/stencil-docs/javascript-and-event-hooks/customizing-javascript.md
  markdown/stencil-docs/javascript-and-event-hooks/event-hooks.md
  markdown/stencil-docs/localization/localizing-stores.md
  markdown/stencil-docs/localization/multi-language-checkout.md
  markdown/stencil-docs/localization/translation-keys.md
  markdown/stencil-docs/reference-docs/common-objects.md
  markdown/stencil-docs/reference-docs/front-matter-reference.md
  markdown/stencil-docs/reference-docs/global-objects-and-properties.md
  markdown/stencil-docs/reference-docs/handlebars-helpers-reference.md
  markdown/stencil-docs/reference-docs/other-objects-and-properties-overview.md
  markdown/stencil-docs/storefront-customization/theme-assets.md
  markdown/stencil-docs/storefront-customization/using-custom-fonts-and-icons.md
  markdown/stencil-docs/storefront-customization/using-front-matter.md
Labels: Theme/Stencil, broken-links
