Repository bigcommerce/dev-docs, pull requests merged in 2019-08, with the labels that each got.

#49 Devdocs 1101 clean up orders api
  spec/json/BigCommerce_Orders_API.oas2.json
Labels: API, Maintenance, api reference, incorrect-information

#65 DEVDOCS-832
  beta-documentation/returns-api-PROJECT-2776/returns.json
Labels: Maintenance, Stencil Object, Theme/Stencil, updates

#48 Added line in items description that you cannot change qty
  spec/json/BigCommerce_Orders_API.oas2.json
Labels: API, Maintenance, api reference, clarifications

#71 Devdocs 1095 resolve broken api docs links
  markdown/api-docs/orders/orders-api-overview.md
  markdown/api-docs/payments/payments-api-overview.md
Labels: API, Maintenance, broken-links

#72 Use updated naming in returns documentation; introduce reference ID
  beta-documentation/returns-api-PROJECT-2776/returns.json
Labels: Beta

#81 Resolve broken links part two
  markdown/api-docs/developers-guide-headless.md
  markdown/api-docs/partner/app-store-approval-requirements.md
  markdown/api-docs/store-management/shipping/shipping-overview.md
  markdown/bigcommerce-for-wordpress/extending-the-plugin/new-subpage.md
  markdown/bigcommerce-for-wordpress/extending-the-plugin/proxy-rest-api-endpoints.md
  markdown/legacy/v2-catalog-products/v2-products.md
  markdown/legacy/v2-products/v2-v3.md
  markdown/stencil-docs/deploying-a-theme/bundling-and-pushing.md
  markdown/stencil-docs/developing-further/add-recaptcha-v2.md
  markdown/stencil-docs/getting-started/transitioning-to-stencil.md
  markdown/stencil-docs/reference-docs/other-objects-and-properties-overview.md
  spec/json/BigCommerce_Customers_V3_API.oas2.json
Labels: API, Legacy, Theme/Stencil, WordPress, broken-links

#78 change h1 to be installing stencil cli
  markdown/stencil-docs/installing-stencil-cli/installing-stencil.md
Labels: Theme/Stencil, updates

#82 DEVDOCS-554 Catalog Price and Common Product Card Model table styling
  markdown/stencil-docs/reference-docs/common-objects.md
Labels: Stencil Object, Theme/Stencil, Value Add, updates

#84 Fix typos
  markdown/api-docs/cart-and-checkout/add-to-cart-url.md
Labels: API, spelling-grammar

#74 Devdocs 1110 api updates
  markdown/api-docs/cart-and-checkout/cart-and-checkout-overview.md
  markdown/api-docs/catalog/products-overview.md
  markdown/api-docs/storefront/scripts-overview.md
  spec/json/BigCommerce_Catalog_API.oas2.json
  spec/json/BigCommerce_Customers_API.oas2.json
  spec/json/BigCommerce_Orders_API.oas2.json
  spec/json/BigCommerce_Scripts_API.oas2.json
  spec/json/BigCommerce_Server_to_Server_Cart_API.oas2.json
  spec/json/BigCommerce_Server_to_Server_Checkout_API.oas2.json
  spec/json/BigCommerce_Storefront_Checkout_API.oas2.json
Labels: API, Maintenance, api reference

#86 Login object is not global, and came_from_checkout is not available a…
  markdown/api-docs/getting-started/webhooks/about-webhooks.md
  markdown/stencil-docs/reference-docs/global-objects-and-properties.md
  markdown/stencil-docs/reference-docs/other-objects-and-properties-overview.md
Labels: Maintenance, Stencil Object, Theme/Stencil

#94 DEVDOCS-1113 Add category to Product Object
  markdown/stencil-docs/reference-docs/other-objects-and-properties-overview.md
Labels: Maintenance, Stencil Object, Theme/Stencil

#93 DEVDOCS-1112 Fixed Applied Coupon showing as nested coupon
  spec/json/BigCommerce_Server_to_Server_Cart_API.oas2.json
Labels: API, Maintenance, api reference

#88 DEVDOCS-1111 Fix formatting
  markdown/bigcommerce-for-wordpress/getting-started/app-compatibility.md
Labels: WordPress

#89 DEVDOCS-1065 added error format to V2 Orders
  spec/json/BigCommerce_Orders_API.oas2.json
Labels: API, Maintenance, api reference

#91 DEVDOCS-1105 Update Customer Attribute PUT
  spec/json/BigCommerce_Customers_V3_API.oas2.json
Labels: API, Maintenance, api reference

#92 DEVDOCS-1107 Updated Billing Address to use CustomFields
  spec/json/BigCommerce_Storefront_Checkout_API.oas2.json
Labels: API, Maintenance, api reference

#97 Update customizing-javascript.md
  markdown/stencil-docs/javascript-and-event-hooks/customizing-javascript.md
Labels: spelling-grammar

#99 Update products-overview.md
  markdown/api-docs/catalog/products-overview.md
Labels: broken-links

#98 Update custom-templates.md
  markdown/stencil-docs/storefront-customization/custom-templates.md
Labels: broken-links, spelling-grammar
